<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWN6AdOru4HWZEpMua9BGvLMakD3V9HqhKvw&usqp=CAU">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/76/State_Savings_Bank_building.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"></body>>

    <div class="container text-center" style="background-color: rgba(255, 255, 255, 0.854); margin-bottom: 3em;">

        <h1 style="margin-bottom: 2em; margin-left: 2em; margin-right: 2em; margin-top: 1em;  padding-top: 1em;">BANK APP</h1>

        <div class="row">
            <div class="col-md-auto col-lg-6">
                <h3 style="margin-bottom: 0.5em;">ATM Services</h3>
                <h5 style="margin-bottom: 0.5em;">Instructions: </h5>
                <p style="text-align: justify;"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus porttitor ex posuere mollis. 
                    Suspendisse vel feugiat orci.
                </p>
                <lu style="text-align: justify;">
                    <li>
                        Donec sit amet libero sed turpis molestie hendrerit eget ac orci
                    </li>
                    <li>
                        Nunc at augue sit amet diam cursus consequat quis sed enim
                    </li>
                    <li>
                        Sed bibendum nisi, Ut at tellus quis risus pharetra consequat sit amet sed mi.
                    </li>
                </lu>
                <p style="text-align: justify; margin-top: 1em;"> 
                    Sed porta felis sed ex lacinia, ut maximus purus convallis. Nunc suscipit, augue at imperdiet elementum, 
                    ex lectus faucibus diam, vehicula sagittis tellus nibh vel ipsum.
                </p>
                <div class="text-center" style="margin-bottom: 3em;">
                    <button class="btn btn-secondary"><a style="text-decoration: none; color: white;" href="/atm">ATM</a> </button>
                </div>
            </div>

            <div class="col-md-auto col-lg-6">
                <h3 style="margin-bottom: 0.5em;">Bank System</h3>
                <h5 style="margin-bottom: 0.5em;">Details: </h5>
                <p style="text-align: justify;"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus porttitor ex posuere mollis. 
                    Suspendisse vel feugiat orci.
                </p>
                <lu style="text-align: justify;">
                    <li>
                        Donec sit amet libero sed turpis molestie hendrerit eget ac orci
                    </li>
                    <li>
                        Nunc at augue sit amet diam cursus consequat quis sed enim
                    </li>
                    <li>
                        Sed bibendum nisi, Ut at tellus quis risus pharetra consequat sit amet sed mi.
                    </li>
                </lu>
                <p style="text-align: justify; margin-top: 1em;"> 
                    Sed porta felis sed ex lacinia, ut maximus purus convallis. Nunc suscipit, augue at imperdiet elementum, 
                    ex lectus faucibus diam, vehicula sagittis tellus nibh vel ipsum.
                </p>
                <div class="text-center" style="margin-bottom: 3em;">
                    <button class="btn btn-secondary"><a style="text-decoration: none; color: white;" href="/admin">Administrators</a> </button>
                </div>
            </div>
        </div>
        
    </div>

    <footer>
        <div style="background-color: rgb(240, 240, 240); text-align: center; padding-bottom: 0.5em; position: fixed; left: 0; bottom: 0; width: 100%;">
            Jim Chrysikopoulos Co. &copy; 2024
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>